.addButton{
    background: radial-gradient(486px at 37.5% -17.2%, rgb(255, 2, 2) 0%, rgb(254, 78, 172) 90%);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 1;
}

.addButton:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.addIcon{
    font-size: 2.5rem;
    color: white;
}